
@{
    ViewBag.Title = "页面不存在";
}

<h1>ErrorMessage:@ViewBag.ErrorMessage</h1>
<h1>Path:@ViewBag.Path</h1>
<h1>BasePath:@ViewBag.BasePath</h1>
<h1>QueryStr:@ViewBag.QueryStr</h1>

<a asp-action="index" asp-controller="home">返回首页</a>